{% extends "page/base.html" %}
{% block content %}
<h1>All posts of {{ profile_owner }}</h1>
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <img class="rounded-circle article-img my-1" src="{{ post.author.profile.image.url}}">
            <a class="mr-2" href="{% url 'profile' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted | date:"F j, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'page:detail' post.pk post.slug %}">{{ post.title }}</a></h2>
        <p class="article-content">
            {{ post.content | truncatechars:150 }}<a href="{% url 'page:detail' post.pk post.slug %}">See more</a>
        </p>
    </div>
</article>
{% endfor %}
{% endblock content %}
